<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>btns</title>
  </head>
  <body>
    <button class="btn btn--block">Sign up</button>
    <div style="display: flex; gap: 1rem; margin: 1rem 0 0">
      <button class="btn btn--strech flex">
        <svg class="icon">
          <use xlink:href="assets/sprite.svg#google"></use>
        </svg>
        Google
      </button>
      <button class="btn btn--strech flex">
        <svg class="icon">
          <use xlink:href="assets/sprite.svg#facebook"></use>
        </svg>
        Facebook
      </button>
    </div>
  </body>
</html>
